<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wheather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="weather-card">
    <ion-card-header>
      <ion-card-title>
        Wheather for today
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="weather-icon">
        <i class="fas {{ weatherIcon }}"></i>
      </div>
      <div class="weather-details">
        <p><i class="fas fa-thermometer-half"></i> Temperatura: {{ temperature }} °C</p>
        <p><i class="fas fa-wind"></i> Viento: {{ wind }} km/h</p>
        <p><i class="fas fa-tint"></i> Humedad: {{ humidity }} %</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
