<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hire me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/icon/LinkProfile.png" height="50px" width="50px" alt="">
  <h4>Reilyn De La Rosa Lafontaine</h4>
  <h5><a href="https://github.com/Reilyn-D-L">GitHub</a></h5>
  <h5><a href="https://www.linkedin.com/in/reilyn-de-la-rosa-l-ba8945226/">LinkedIn</a></h5>
  <h5><a href="mailto:reilyndelarosal@gmail.com">Correo</a></h5>
  <h5><a href="https://t.me/Reilyn_DL">Telegram</a></h5>

</ion-content>
